DodoBird/bin/Antlr3.Runtime.dll
DodoBird/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
DodoBird/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
DodoBird/bin/Microsoft.Web.Infrastructure.dll
DodoBird/bin/Newtonsoft.Json.dll
DodoBird/bin/System.Web.Helpers.dll
DodoBird/bin/System.Web.Mvc.dll
DodoBird/bin/System.Web.Optimization.dll
DodoBird/bin/System.Web.Razor.dll
DodoBird/bin/System.Web.WebPages.Deployment.dll
DodoBird/bin/System.Web.WebPages.dll
DodoBird/bin/System.Web.WebPages.Razor.dll
DodoBird/bin/WebGrease.dll
DodoBird/Content/bootstrap.css
DodoBird/Content/bootstrap.css.map
DodoBird/Content/bootstrap.min.css
DodoBird/Content/bootstrap.min.css.map
DodoBird/Content/bootstrap-theme.css
DodoBird/Content/bootstrap-theme.css.map
DodoBird/Content/bootstrap-theme.min.css
DodoBird/Content/bootstrap-theme.min.css.map
DodoBird/Content/Site.css
DodoBird/Controllers/HomeController.cs
DodoBird/fonts/glyphicons-halflings-regular.eot
DodoBird/fonts/glyphicons-halflings-regular.svg
DodoBird/fonts/glyphicons-halflings-regular.ttf
DodoBird/fonts/glyphicons-halflings-regular.woff
DodoBird/fonts/glyphicons-halflings-regular.woff2
DodoBird/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
DodoBird/obj/Debug/build.force
DodoBird/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DodoBird/obj/Debug/DodoBird.csprojAssemblyReference.cache
DodoBird/packages/Antlr.3.5.0.2/.signature.p7s
DodoBird/packages/Antlr.3.5.0.2/Antlr.3.5.0.2.nupkg
DodoBird/packages/Antlr.3.5.0.2/lib/Antlr3.Runtime.dll
DodoBird/packages/Antlr.3.5.0.2/lib/Antlr3.Runtime.pdb
DodoBird/packages/bootstrap.3.4.1/.signature.p7s
DodoBird/packages/bootstrap.3.4.1/bootstrap.3.4.1.nupkg
DodoBird/packages/bootstrap.3.4.1/LICENSE.txt
DodoBird/packages/bootstrap.3.4.1/content/Content/bootstrap.css
DodoBird/packages/bootstrap.3.4.1/content/Content/bootstrap.css.map
DodoBird/packages/bootstrap.3.4.1/content/Content/bootstrap.min.css
DodoBird/packages/bootstrap.3.4.1/content/Content/bootstrap.min.css.map
DodoBird/packages/bootstrap.3.4.1/content/Content/bootstrap-theme.css
DodoBird/packages/bootstrap.3.4.1/content/Content/bootstrap-theme.css.map
DodoBird/packages/bootstrap.3.4.1/content/Content/bootstrap-theme.min.css
DodoBird/packages/bootstrap.3.4.1/content/Content/bootstrap-theme.min.css.map
DodoBird/packages/bootstrap.3.4.1/content/fonts/glyphicons-halflings-regular.eot
DodoBird/packages/bootstrap.3.4.1/content/fonts/glyphicons-halflings-regular.svg
DodoBird/packages/bootstrap.3.4.1/content/fonts/glyphicons-halflings-regular.ttf
DodoBird/packages/bootstrap.3.4.1/content/fonts/glyphicons-halflings-regular.woff
DodoBird/packages/bootstrap.3.4.1/content/fonts/glyphicons-halflings-regular.woff2
DodoBird/packages/bootstrap.3.4.1/content/Scripts/bootstrap.js
DodoBird/packages/bootstrap.3.4.1/content/Scripts/bootstrap.min.js
DodoBird/packages/bootstrap.3.4.1/contentFiles/Content/bootstrap.css
DodoBird/packages/bootstrap.3.4.1/contentFiles/Content/bootstrap.css.map
DodoBird/packages/bootstrap.3.4.1/contentFiles/Content/bootstrap.min.css
DodoBird/packages/bootstrap.3.4.1/contentFiles/Content/bootstrap.min.css.map
DodoBird/packages/bootstrap.3.4.1/contentFiles/Content/bootstrap-theme.css
DodoBird/packages/bootstrap.3.4.1/contentFiles/Content/bootstrap-theme.css.map
DodoBird/packages/bootstrap.3.4.1/contentFiles/Content/bootstrap-theme.min.css
DodoBird/packages/bootstrap.3.4.1/contentFiles/Content/bootstrap-theme.min.css.map
DodoBird/packages/bootstrap.3.4.1/contentFiles/fonts/glyphicons-halflings-regular.eot
DodoBird/packages/bootstrap.3.4.1/contentFiles/fonts/glyphicons-halflings-regular.svg
DodoBird/packages/bootstrap.3.4.1/contentFiles/fonts/glyphicons-halflings-regular.ttf
DodoBird/packages/bootstrap.3.4.1/contentFiles/fonts/glyphicons-halflings-regular.woff
DodoBird/packages/bootstrap.3.4.1/contentFiles/fonts/glyphicons-halflings-regular.woff2
DodoBird/packages/bootstrap.3.4.1/contentFiles/Scripts/bootstrap.js
DodoBird/packages/bootstrap.3.4.1/contentFiles/Scripts/bootstrap.min.js
DodoBird/packages/jQuery.3.4.1/.signature.p7s
DodoBird/packages/jQuery.3.4.1/jQuery.3.4.1.nupkg
DodoBird/packages/jQuery.3.4.1/Content/Scripts/jquery-3.4.1.js
DodoBird/packages/jQuery.3.4.1/Content/Scripts/jquery-3.4.1.min.js
DodoBird/packages/jQuery.3.4.1/Content/Scripts/jquery-3.4.1.min.map
DodoBird/packages/jQuery.3.4.1/Content/Scripts/jquery-3.4.1.slim.js
DodoBird/packages/jQuery.3.4.1/Content/Scripts/jquery-3.4.1.slim.min.js
DodoBird/packages/jQuery.3.4.1/Content/Scripts/jquery-3.4.1.slim.min.map
DodoBird/packages/jQuery.3.4.1/Content/Scripts/jquery-3.4.1-vsdoc.js
DodoBird/packages/jQuery.3.4.1/Tools/common.ps1
DodoBird/packages/jQuery.3.4.1/Tools/install.ps1
DodoBird/packages/jQuery.3.4.1/Tools/jquery-3.4.1.intellisense.js
DodoBird/packages/jQuery.3.4.1/Tools/uninstall.ps1
DodoBird/packages/jQuery.Validation.1.17.0/.signature.p7s
DodoBird/packages/jQuery.Validation.1.17.0/jQuery.Validation.1.17.0.nupkg
DodoBird/packages/jQuery.Validation.1.17.0/Content/Scripts/jquery.validate.js
DodoBird/packages/jQuery.Validation.1.17.0/Content/Scripts/jquery.validate.min.js
DodoBird/packages/jQuery.Validation.1.17.0/Content/Scripts/jquery.validate-vsdoc.js
DodoBird/packages/Microsoft.AspNet.Mvc.5.2.7/.signature.p7s
DodoBird/packages/Microsoft.AspNet.Mvc.5.2.7/Microsoft.AspNet.Mvc.5.2.7.nupkg
DodoBird/packages/Microsoft.AspNet.Mvc.5.2.7/Content/Web.config.install.xdt
DodoBird/packages/Microsoft.AspNet.Mvc.5.2.7/Content/Web.config.uninstall.xdt
DodoBird/packages/Microsoft.AspNet.Mvc.5.2.7/lib/net45/System.Web.Mvc.dll
DodoBird/packages/Microsoft.AspNet.Mvc.5.2.7/lib/net45/System.Web.Mvc.xml
DodoBird/packages/Microsoft.AspNet.Razor.3.2.7/.signature.p7s
DodoBird/packages/Microsoft.AspNet.Razor.3.2.7/Microsoft.AspNet.Razor.3.2.7.nupkg
DodoBird/packages/Microsoft.AspNet.Razor.3.2.7/lib/net45/System.Web.Razor.dll
DodoBird/packages/Microsoft.AspNet.Razor.3.2.7/lib/net45/System.Web.Razor.xml
DodoBird/packages/Microsoft.AspNet.Web.Optimization.1.1.3/.signature.p7s
DodoBird/packages/Microsoft.AspNet.Web.Optimization.1.1.3/Microsoft.AspNet.Web.Optimization.1.1.3.nupkg
DodoBird/packages/Microsoft.AspNet.Web.Optimization.1.1.3/lib/net40/System.Web.Optimization.dll
DodoBird/packages/Microsoft.AspNet.Web.Optimization.1.1.3/lib/net40/system.web.optimization.xml
DodoBird/packages/Microsoft.AspNet.WebPages.3.2.7/.signature.p7s
DodoBird/packages/Microsoft.AspNet.WebPages.3.2.7/Microsoft.AspNet.WebPages.3.2.7.nupkg
DodoBird/packages/Microsoft.AspNet.WebPages.3.2.7/Content/Web.config.install.xdt
DodoBird/packages/Microsoft.AspNet.WebPages.3.2.7/Content/Web.config.uninstall.xdt
DodoBird/packages/Microsoft.AspNet.WebPages.3.2.7/lib/net45/System.Web.Helpers.dll
DodoBird/packages/Microsoft.AspNet.WebPages.3.2.7/lib/net45/System.Web.Helpers.xml
DodoBird/packages/Microsoft.AspNet.WebPages.3.2.7/lib/net45/System.Web.WebPages.Deployment.dll
DodoBird/packages/Microsoft.AspNet.WebPages.3.2.7/lib/net45/System.Web.WebPages.Deployment.xml
DodoBird/packages/Microsoft.AspNet.WebPages.3.2.7/lib/net45/System.Web.WebPages.dll
DodoBird/packages/Microsoft.AspNet.WebPages.3.2.7/lib/net45/System.Web.WebPages.Razor.dll
DodoBird/packages/Microsoft.AspNet.WebPages.3.2.7/lib/net45/System.Web.WebPages.Razor.xml
DodoBird/packages/Microsoft.AspNet.WebPages.3.2.7/lib/net45/System.Web.WebPages.xml
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/.signature.p7s
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1.nupkg
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/build/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.Extensions.props
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/build/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/build/net46/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.Extensions.props
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/build/net46/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net45/app.config.install.xdt
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net45/app.config.uninstall.xdt
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net45/web.config.install.xdt
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net45/web.config.uninstall.xdt
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net46/app.config.install.xdt
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net46/app.config.uninstall.xdt
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net46/web.config.install.xdt
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net46/web.config.uninstall.xdt
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/net45/install.ps1
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/net45/uninstall.ps1
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/csc.exe
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/csc.exe.config
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/csc.rsp
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/csi.exe
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/csi.rsp
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.Build.Tasks.CodeAnalysis.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CodeAnalysis.CSharp.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CodeAnalysis.CSharp.Scripting.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CodeAnalysis.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CodeAnalysis.Scripting.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CodeAnalysis.VisualBasic.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CSharp.Core.targets
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.DiaSymReader.Native.amd64.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.DiaSymReader.Native.x86.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.VisualBasic.Core.targets
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.AppContext.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.Collections.Immutable.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.Diagnostics.StackTrace.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.IO.FileSystem.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.IO.FileSystem.Primitives.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.Reflection.Metadata.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/vbc.exe
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/vbc.exe.config
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/vbc.rsp
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/VBCSCompiler.exe
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/VBCSCompiler.exe.config
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csc.exe
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csc.exe.config
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csc.rsp
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csi.exe
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csi.exe.config
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csi.rsp
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.Build.Tasks.CodeAnalysis.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.CodeAnalysis.CSharp.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.CodeAnalysis.CSharp.Scripting.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.CodeAnalysis.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.CodeAnalysis.Scripting.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.CodeAnalysis.VisualBasic.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.CSharp.Core.targets
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.DiaSymReader.Native.amd64.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.DiaSymReader.Native.x86.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.Managed.Core.targets
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.VisualBasic.Core.targets
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.Win32.Primitives.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.AppContext.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Collections.Immutable.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Console.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Diagnostics.DiagnosticSource.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Diagnostics.FileVersionInfo.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Diagnostics.StackTrace.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Globalization.Calendars.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.IO.Compression.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.IO.Compression.ZipFile.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.IO.FileSystem.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.IO.FileSystem.Primitives.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Net.Http.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Net.Sockets.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Reflection.Metadata.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Runtime.InteropServices.RuntimeInformation.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Security.Cryptography.Algorithms.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Security.Cryptography.Encoding.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Security.Cryptography.Primitives.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Security.Cryptography.X509Certificates.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Text.Encoding.CodePages.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Threading.Tasks.Extensions.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.ValueTuple.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Xml.ReaderWriter.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Xml.XmlDocument.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Xml.XPath.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Xml.XPath.XDocument.dll
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/vbc.exe
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/vbc.exe.config
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/vbc.rsp
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/VBCSCompiler.exe
DodoBird/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/VBCSCompiler.exe.config
DodoBird/packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.11/.signature.p7s
DodoBird/packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.11/Microsoft.jQuery.Unobtrusive.Validation.3.2.11.nupkg
DodoBird/packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.11/Content/Scripts/jquery.validate.unobtrusive.js
DodoBird/packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.11/Content/Scripts/jquery.validate.unobtrusive.min.js
DodoBird/packages/Microsoft.Web.Infrastructure.1.0.0.0/.signature.p7s
DodoBird/packages/Microsoft.Web.Infrastructure.1.0.0.0/Microsoft.Web.Infrastructure.1.0.0.0.nupkg
DodoBird/packages/Microsoft.Web.Infrastructure.1.0.0.0/lib/net40/Microsoft.Web.Infrastructure.dll
DodoBird/packages/Modernizr.2.8.3/.signature.p7s
DodoBird/packages/Modernizr.2.8.3/Modernizr.2.8.3.nupkg
DodoBird/packages/Modernizr.2.8.3/Content/Scripts/modernizr-2.8.3.js
DodoBird/packages/Modernizr.2.8.3/Tools/common.ps1
DodoBird/packages/Modernizr.2.8.3/Tools/install.ps1
DodoBird/packages/Modernizr.2.8.3/Tools/uninstall.ps1
DodoBird/packages/Newtonsoft.Json.12.0.2/.signature.p7s
DodoBird/packages/Newtonsoft.Json.12.0.2/LICENSE.md
DodoBird/packages/Newtonsoft.Json.12.0.2/Newtonsoft.Json.12.0.2.nupkg
DodoBird/packages/Newtonsoft.Json.12.0.2/lib/net20/Newtonsoft.Json.dll
DodoBird/packages/Newtonsoft.Json.12.0.2/lib/net20/Newtonsoft.Json.xml
DodoBird/packages/Newtonsoft.Json.12.0.2/lib/net35/Newtonsoft.Json.dll
DodoBird/packages/Newtonsoft.Json.12.0.2/lib/net35/Newtonsoft.Json.xml
DodoBird/packages/Newtonsoft.Json.12.0.2/lib/net40/Newtonsoft.Json.dll
DodoBird/packages/Newtonsoft.Json.12.0.2/lib/net40/Newtonsoft.Json.xml
DodoBird/packages/Newtonsoft.Json.12.0.2/lib/net45/Newtonsoft.Json.dll
DodoBird/packages/Newtonsoft.Json.12.0.2/lib/net45/Newtonsoft.Json.xml
DodoBird/packages/Newtonsoft.Json.12.0.2/lib/netstandard1.0/Newtonsoft.Json.dll
DodoBird/packages/Newtonsoft.Json.12.0.2/lib/netstandard1.0/Newtonsoft.Json.xml
DodoBird/packages/Newtonsoft.Json.12.0.2/lib/netstandard1.3/Newtonsoft.Json.dll
DodoBird/packages/Newtonsoft.Json.12.0.2/lib/netstandard1.3/Newtonsoft.Json.xml
DodoBird/packages/Newtonsoft.Json.12.0.2/lib/netstandard2.0/Newtonsoft.Json.dll
DodoBird/packages/Newtonsoft.Json.12.0.2/lib/netstandard2.0/Newtonsoft.Json.xml
DodoBird/packages/Newtonsoft.Json.12.0.2/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.dll
DodoBird/packages/Newtonsoft.Json.12.0.2/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.xml
DodoBird/packages/Newtonsoft.Json.12.0.2/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.dll
DodoBird/packages/Newtonsoft.Json.12.0.2/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.xml
DodoBird/packages/WebGrease.1.6.0/.signature.p7s
DodoBird/packages/WebGrease.1.6.0/WebGrease.1.6.0.nupkg
DodoBird/packages/WebGrease.1.6.0/lib/WebGrease.dll
DodoBird/packages/WebGrease.1.6.0/tools/WG.EXE
